e/backgrounds/
e/fileman/thumbnails/
e/fonts/
e/icons/
e/images/
e/config/pluc/e.1.cfg
e/config/pluc/e.2.cfg
e/config/pluc/e.3.cfg
e/config/pluc/e.5.cfg
e/config/pluc/e.8.cfg
e/config/pluc/module.everything.cache.cfg
e/config/pluc/module.everything.cfg
