e/backgrounds/
e/fileman/thumbnails/
e/fonts/
e/icons/
e/images/
e/config/pluc/e.1.cfg
e/config/pluc/e.2.cfg
e/config/pluc/e.3.cfg
e/config/pluc/e.5.cfg
e/config/pluc/e.8.cfg
e/config/pluc/module.everything.cache.cfg
e/config/pluc/module.everything.cfg
e/config/pluc/e.4.cfg
e/config/pluc/e.7.cfg
e/config/pluc/module.everything.3.cfg
e/config/pluc/e.6.cfg
e/config/pluc/exehist.1.cfg
e/config/pluc/exehist.2.cfg
e/config/pluc/exehist.3.cfg
e/config/pluc/exehist.4.cfg
e/config/pluc/exehist.5.cfg
e/config/pluc/exehist.6.cfg
e/config/pluc/exehist.7.cfg
e/config/pluc/exehist.8.cfg
e/config/pluc/exehist.9.cfg
e/config/pluc/exehist.cfg
e/config/pluc/module.everything.8.cfg
e/config/pluc/module.everything.9.cfg
